### Data integration

This notebook outlines the steps taken to integrate data with the ACS dataset.

### Reading NTA_spatial_join.csv derived from QGIS spatial join

NTA_spatial_join.csv added NTA Geocode and name to the previous Merged_Data.csv

In [1]:
import pandas as pd
from openpyxl import load_workbook

In [2]:
Spatial_join = pd.read_csv("data/NTA_spatial_join.csv")

In [3]:
Spatial_join.rename(columns={"nta2020": "GeoID"}, inplace=True)

In [4]:
Spatial_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8711 entries, 0 to 8710
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LandUse     8711 non-null   float64
 1   BldgArea    8711 non-null   int64
 2   NumBldgs    8711 non-null   int64
 3   NumFloors   8711 non-null   float64
 4   ProxCode    8711 non-null   float64
 5   LotType     8711 non-null   float64
 6   BoroCode    8711 non-null   int64
 7   BBL         8711 non-null   int64
 8   XCoord      8711 non-null   int64
 9   YCoord      8711 non-null   int64
 10  ZoneMap     8711 non-null   object
 11  ZMCode      300 non-null    object
 12  Sanborn     8711 non-null   object
 13  TaxMap      8711 non-null   float64
 14  EDesigNum   0 non-null      float64
 15  PLUTOMapID  8711 non-null   int64
 16  FIRM07_FLA  341 non-null    float64
 17  PFIRM15_FL  481 non-null    float64
 18  Version     8711 non-null   object
 19  DCPEdited   500 non-null    float64
 20  Shape_Leng  8711 non-null   float64
 21  Shape_Area  8711 non-null   float64
 22  Largest Pr  8711 non-null   float64
 23  Building A  8711 non-null   int64
 24  ENERGY STA  8711 non-null   int64
 25  Weather No  8711 non-null   float64
 26  Weather _1  8711 non-null   float64
 27  Weather _2  8711 non-null   float64
 28  Latitude    8711 non-null   float64
 29  Longitude   8711 non-null   float64
 30  NTA         8711 non-null   object
 31  GeoID       8711 non-null   object
 32  ntaname     8711 non-null   object
dtypes: float64(17), int64(9), object(7)
memory usage: 2.2+ MB

In [5]:
Spatial_join.head()

,LandUse,BldgArea,NumBldgs,NumFloors,ProxCode,LotType,BoroCode,BBL,XCoord,YCoord,...,Building A,ENERGY STA,Weather No,Weather _1,Weather _2,Latitude,Longitude,NTA,GeoID,ntaname
0,3.0,21070,1,4.0,1.0,5.0,4,4156610041,1051805,160312,...,21,34,159.7,21333.6,2534838.9,40.606699,-73.756389,Far Rockaway-Bayswater,QN1401,Far Rockaway-Bayswater
1,3.0,94032,1,6.0,1.0,5.0,4,4158150071,1051604,155827,...,19,79,107.8,43719.6,6351654.2,40.593820,-73.757729,Far Rockaway-Bayswater,QN1401,Far Rockaway-Bayswater
2,8.0,154051,2,4.0,1.0,1.0,4,4158200001,1050543,155684,...,23,72,114.5,60112.3,10607054.2,40.593834,-73.761740,Far Rockaway-Bayswater,QN1401,Far Rockaway-Bayswater
3,6.0,70246,2,1.0,1.0,3.0,4,4161510036,1034617,153143,...,22,18,127.7,26863.7,4882684.9,40.586412,-73.818742,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,QN1402,Rockaway Beach-Arverne-Edgemere
4,8.0,371401,2,6.0,1.0,5.0,5,5000060021,962826,172695,...,4,76,135.2,80697.4,14251251.8,40.641120,-74.076847,West New Brighton-New Brighton-St. George,SI0101,St. George-New Brighton

### Reading ACS data

This is public data available to download from here: https://www.nyc.gov/site/planning/planning-level/nyc-population/american-community-survey.page.

#### ACS demo data

In [6]:
ACS_2019_demo = pd.read_excel("data/demo_2019.xlsx")

In [7]:
ACS_2019_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Columns: 485 entries, GeoType to Asn2plZ
dtypes: float64(385), int64(96), object(4)
memory usage: 992.9+ KB

In [8]:
ACS_2019_demo.head()

,GeoType,NTAType,GeogName,GeoID,Borough,Pop_1E,Pop_1M,Pop_1C,Pop_1P,Pop_1Z,...,AsnOAsnE,AsnOAsnM,AsnOAsnC,AsnOAsnP,AsnOAsnZ,Asn2plE,Asn2plM,Asn2plC,Asn2plP,Asn2plZ
0,NTA2020,0,Greenpoint,BK0101,Brooklyn,34554,1137.0,2.0,100.0,0.0,...,65,76.0,71.0,4.3,5.0,32,39.0,74.8,2.1,2.6
1,NTA2020,0,Williamsburg,BK0102,Brooklyn,57774,1617.0,1.7,100.0,0.0,...,69,67.0,59.0,1.7,1.6,205,101.0,29.9,5.0,2.4
2,NTA2020,0,South Williamsburg,BK0103,Brooklyn,45724,1879.0,2.5,100.0,0.0,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,NTA2020,0,East Williamsburg,BK0104,Brooklyn,52363,1522.0,1.8,100.0,0.0,...,41,36.0,54.0,0.7,0.6,47,37.0,48.0,0.8,0.6
4,NTA2020,0,Brooklyn Heights,BK0201,Brooklyn,23758,964.0,2.5,100.0,0.0,...,52,48.0,56.0,2.5,2.3,53,45.0,52.1,2.6,2.2

In [9]:
ACS_2019_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Columns: 485 entries, GeoType to Asn2plZ
dtypes: float64(385), int64(96), object(4)
memory usage: 992.9+ KB

In [10]:
ACS_2019_demo.rename(columns={"Pop65pl1E": "Population with 65 years and over"}, inplace=True)
ACS_2019_demo.rename(columns={"Pop_1E": "Population"}, inplace=True)

In [11]:
columns_to_keep = ['GeoID','Population with 65 years and over', 'Population']
ACS_2019_demo = ACS_2019_demo.loc[:, columns_to_keep]

In [12]:
ACS_2019_demo.head()

    GeoID  Population with 65 years and over  Population
0  BK0101                               3788       34554
1  BK0102                               4536       57774
2  BK0103                               3629       45724
3  BK0104                               6439       52363
4  BK0201                               3506       23758

#### ACS eco data

In [13]:
ACS_2019_eco = pd.read_excel("data/econ_2019.xlsx")

In [14]:
ACS_2019_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Columns: 660 entries, GeoType to Pv500plZ
dtypes: float64(533), int64(123), object(4)
memory usage: 1.3+ MB

In [15]:
ACS_2019_eco.head()

,GeoType,NTAType,GeoName,GeoID,Borough,Pop16plE,Pop16plM,Pop16plC,Pop16plP,Pop16plZ,...,Pv400t499E,Pv400t499M,Pv400t499C,Pv400t499P,Pv400t499Z,Pv500plE,Pv500plM,Pv500plC,Pv500plP,Pv500plZ
0,NTA2020,0,Greenpoint,BK0101,Brooklyn,30972,941.0,1.8,100.0,0.0,...,4580,553.0,7.3,13.3,1.5,15664,828.0,3.2,45.5,1.9
1,NTA2020,0,Williamsburg,BK0102,Brooklyn,48833,1269.0,1.6,100.0,0.0,...,4786,590.0,7.5,8.3,1.0,24400,1206.0,3.0,42.3,1.7
2,NTA2020,0,South Williamsburg,BK0103,Brooklyn,23804,774.0,2.0,100.0,0.0,...,1269,341.0,16.3,2.8,0.7,2702,459.0,10.3,6.0,1.0
3,NTA2020,0,East Williamsburg,BK0104,Brooklyn,45756,1231.0,1.6,100.0,0.0,...,5135,626.0,7.4,9.8,1.2,13906,823.0,3.6,26.6,1.4
4,NTA2020,0,Brooklyn Heights,BK0201,Brooklyn,20241,785.0,2.4,100.0,0.0,...,1309,271.0,12.6,6.0,1.2,16066,862.0,3.3,73.4,2.4

In [16]:
ACS_2019_eco.rename(columns={"MnHHIncE": "Mean household income (dollars)"}, inplace=True)
ACS_2019_eco.rename(columns={"PvHInsE": "Civilian noninstitutionalized population with private insurance"}, inplace=True)

In [17]:
columns_to_keep = ['GeoID','Mean household income (dollars)', 'Civilian noninstitutionalized population with private insurance']
ACS_2019_eco = ACS_2019_eco.loc[:, columns_to_keep]

In [18]:
ACS_2019_eco.head()

,GeoID,Mean household income (dollars),Civilian noninstitutionalized population with private insurance
0,BK0101,118805.0,25809
1,BK0102,141815.0,38362
2,BK0103,55151.0,12921
3,BK0104,89296.0,29672
4,BK0201,215400.0,20867

In [19]:
merged_df = pd.merge(ACS_2019_eco, ACS_2019_demo, on='GeoID', how='inner')

In [20]:
merged_df.head()

,GeoID,Mean household income (dollars),Civilian noninstitutionalized population with private insurance,Population with 65 years and over,Population
0,BK0101,118805.0,25809,3788,34554
1,BK0102,141815.0,38362,4536,57774
2,BK0103,55151.0,12921,3629,45724
3,BK0104,89296.0,29672,6439,52363
4,BK0201,215400.0,20867,3506,23758

#### ACS soc data

In [21]:
ACS_2019_soc = pd.read_excel("data/soc_2019.xlsx")

In [22]:
ACS_2019_soc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Columns: 2190 entries, GeoType to HHIntZ
dtypes: float64(1750), int64(436), object(4)
memory usage: 4.4+ MB

In [23]:
ACS_2019_soc.head()

,GeoType,NTAType,GeogName,GeoID,Borough,HH1E,HH1M,HH1C,HH1P,HH1Z,...,HHCompE,HHCompM,HHCompC,HHCompP,HHCompZ,HHIntE,HHIntM,HHIntC,HHIntP,HHIntZ
0,NTA2020,0,Greenpoint,BK0101,Brooklyn,16242,335.0,1.3,100.0,0.0,...,14993,378.0,1.5,92.3,1.3,13581,425.0,1.9,83.6,2.0
1,NTA2020,0,Williamsburg,BK0102,Brooklyn,25403,463.0,1.1,100.0,0.0,...,23235,520.0,1.4,91.5,1.2,21413,576.0,1.6,84.3,1.7
2,NTA2020,0,South Williamsburg,BK0103,Brooklyn,10419,246.0,1.4,100.0,0.0,...,5384,396.0,4.5,51.7,3.6,3415,342.0,6.1,32.8,3.2
3,NTA2020,0,East Williamsburg,BK0104,Brooklyn,22920,361.0,1.0,100.0,0.0,...,20201,493.0,1.5,88.1,1.6,18565,513.0,1.7,81.0,1.8
4,NTA2020,0,Brooklyn Heights,BK0201,Brooklyn,11150,335.0,1.8,100.0,0.0,...,10746,339.0,1.9,96.4,0.9,10359,361.0,2.1,92.9,1.7

In [24]:
ACS_2019_soc.rename(columns={"HH1E": "Total households"}, inplace=True)
ACS_2019_soc.rename(columns={"Pop3plEnE": "School Employees"}, inplace=True)
ACS_2019_soc.rename(columns={"EA_BchDHE": "Population with bachelorâ€™s degree or higher"}, inplace=True)

In [25]:
columns_to_keep = ['GeoID','Total households', 'School Employees', 'Population with bachelorâ€™s degree or higher']
ACS_2019_soc = ACS_2019_soc.loc[:, columns_to_keep]

In [26]:
ACS_2019_soc.head()

,GeoID,Total households,School Employees,Population with bachelorâ€™s degree or higher
0,BK0101,16242,4587,16534
1,BK0102,25403,10282,26775
2,BK0103,10419,20365,2006
3,BK0104,22920,9912,16675
4,BK0201,11150,5398,14577

In [27]:
merged_df1 = pd.merge(merged_df, ACS_2019_soc, on='GeoID', how='inner')

In [28]:
merged_df1.head()

,GeoID,Mean household income (dollars),Civilian noninstitutionalized population with private insurance,Population with 65 years and over,Population,Total households,School Employees,Population with bachelorâ€™s degree or higher
0,BK0101,118805.0,25809,3788,34554,16242,4587,16534
1,BK0102,141815.0,38362,4536,57774,25403,10282,26775
2,BK0103,55151.0,12921,3629,45724,10419,20365,2006
3,BK0104,89296.0,29672,6439,52363,22920,9912,16675
4,BK0201,215400.0,20867,3506,23758,11150,5398,14577

#### ACS hous data

In [29]:
ACS_2019_hous = pd.read_excel("data/hous_2019.xlsx")

In [30]:
ACS_2019_hous.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Columns: 520 entries, GeoType to GRPINtCZ
dtypes: float64(419), int64(97), object(4)
memory usage: 1.0+ MB

In [31]:
ACS_2019_hous.head()

,GeoType,NTAType,GeogName,GeoID,Borough,HU1E,HU1M,HU1C,HU1P,HU1Z,...,GRPI50plE,GRPI50plM,GRPI50plC,GRPI50plP,GRPI50plZ,GRPINtCE,GRPINtCM,GRPINtCC,GRPINtCP,GRPINtCZ
0,NTA2020,0,Greenpoint,BK0101,Brooklyn,17542,279.0,1.0,100.0,0.0,...,2743,369.0,8.2,21.3,2.8,530,167.0,19.1,NaN,NaN
1,NTA2020,0,Williamsburg,BK0102,Brooklyn,27738,362.0,0.8,100.0,0.0,...,4390,498.0,6.9,21.6,2.4,881,241.0,16.6,NaN,NaN
2,NTA2020,0,South Williamsburg,BK0103,Brooklyn,11098,204.0,1.1,100.0,0.0,...,3635,343.0,5.7,43.3,3.7,472,177.0,22.8,NaN,NaN
3,NTA2020,0,East Williamsburg,BK0104,Brooklyn,24067,268.0,0.7,100.0,0.0,...,4517,459.0,6.2,23.5,2.3,705,238.0,20.6,NaN,NaN
4,NTA2020,0,Brooklyn Heights,BK0201,Brooklyn,12453,229.0,1.1,100.0,0.0,...,933,222.0,14.4,16.5,3.8,254,130.0,31.2,NaN,NaN

In [32]:
ACS_2019_hous.rename(columns={"VacHUE": "Vacant housing units"}, inplace=True)
ACS_2019_hous.rename(columns={"MdGRE": "Median Gross Rent (dollars)"}, inplace=True)

In [33]:
columns_to_keep = ['GeoID','Vacant housing units', 'Median Gross Rent (dollars)']
ACS_2019_hous = ACS_2019_hous.loc[:, columns_to_keep]

In [34]:
ACS_2019_hous.head()

    GeoID  Vacant housing units  Median Gross Rent (dollars)
0  BK0101                  1300                       2046.0
1  BK0102                  2335                       2384.0
2  BK0103                   679                       1138.0
3  BK0104                  1147                       1411.0
4  BK0201                  1303                       2384.0

In [35]:
ACS_2019 = pd.merge(merged_df1, ACS_2019_hous, on='GeoID', how='inner')

In [36]:
ACS_2019.head()

,GeoID,Mean household income (dollars),Civilian noninstitutionalized population with private insurance,Population with 65 years and over,Population,Total households,School Employees,Population with bachelorâ€™s degree or higher,Vacant housing units,Median Gross Rent (dollars)
0,BK0101,118805.0,25809,3788,34554,16242,4587,16534,1300,2046.0
1,BK0102,141815.0,38362,4536,57774,25403,10282,26775,2335,2384.0
2,BK0103,55151.0,12921,3629,45724,10419,20365,2006,679,1138.0
3,BK0104,89296.0,29672,6439,52363,22920,9912,16675,1147,1411.0
4,BK0201,215400.0,20867,3506,23758,11150,5398,14577,1303,2384.0

In [49]:
ACS_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 0 to 261
Data columns (total 10 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   GeoID                                                            262 non-null    object
 1   Mean household income (dollars)                                  204 non-null    float64
 2   Civilian noninstitutionalized population with private insurance  262 non-null    int64
 3   Population with 65 years and over                                262 non-null    int64
 4   Population                                                       262 non-null    int64
 5   Total households                                                 262 non-null    int64
 6   School Employees                                                 262 non-null    int64
 7   Population with bachelorâ€™s degree or higher                      262 non-null    int64
 8   Vacant housing units                                             262 non-null    int64
 9   Median Gross Rent (dollars)                                      211 non-null    float64
dtypes: float64(2), int64(7), object(1)
memory usage: 22.5+ KB

In [37]:
ACS_2019_cleaned = ACS_2019.dropna()

In [38]:
ACS_2019_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 260
Data columns (total 10 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   GeoID                                                            204 non-null    object
 1   Mean household income (dollars)                                  204 non-null    float64
 2   Civilian noninstitutionalized population with private insurance  204 non-null    int64
 3   Population with 65 years and over                                204 non-null    int64
 4   Population                                                       204 non-null    int64
 5   Total households                                                 204 non-null    int64
 6   School Employees                                                 204 non-null    int64
 7   Population with bachelorâ€™s degree or higher                      204 non-null    int64
 8   Vacant housing units                                             204 non-null    int64
 9   Median Gross Rent (dollars)                                      204 non-null    float64
dtypes: float64(2), int64(7), object(1)
memory usage: 17.5+ KB

In [48]:
ACS_2019_cleaned.to_csv('data/ACS_2019_cleaned.csv', index=False)

#### Merge with NTA_spatial_join.csv

In [50]:
df = pd.merge(Spatial_join, ACS_2019_cleaned, on='GeoID', how='inner')

In [54]:
columns_to_drop = ['ZMCode', 'EDesigNum', 'FIRM07_FLA', 'PFIRM15_FL', 'Version', 'DCPEdited']
df = df.drop(columns=columns_to_drop)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8699 entries, 0 to 8698
Data columns (total 36 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   LandUse                                                          8699 non-null   float64
 1   BldgArea                                                         8699 non-null   int64
 2   NumBldgs                                                         8699 non-null   int64
 3   NumFloors                                                        8699 non-null   float64
 4   ProxCode                                                         8699 non-null   float64
 5   LotType                                                          8699 non-null   float64
 6   BoroCode                                                         8699 non-null   int64
 7   BBL                                                              8699 non-null   int64
 8   XCoord                                                           8699 non-null   int64
 9   YCoord                                                           8699 non-null   int64
 10  ZoneMap                                                          8699 non-null   object
 11  Sanborn                                                          8699 non-null   object
 12  TaxMap                                                           8699 non-null   float64
 13  PLUTOMapID                                                       8699 non-null   int64
 14  Shape_Leng                                                       8699 non-null   float64
 15  Shape_Area                                                       8699 non-null   float64
 16  Largest Pr                                                       8699 non-null   float64
 17  Building A                                                       8699 non-null   int64
 18  ENERGY STA                                                       8699 non-null   int64
 19  Weather No                                                       8699 non-null   float64
 20  Weather _1                                                       8699 non-null   float64
 21  Weather _2                                                       8699 non-null   float64
 22  Latitude                                                         8699 non-null   float64
 23  Longitude                                                        8699 non-null   float64
 24  NTA                                                              8699 non-null   object
 25  GeoID                                                            8699 non-null   object
 26  ntaname                                                          8699 non-null   object
 27  Mean household income (dollars)                                  8699 non-null   float64
 28  Civilian noninstitutionalized population with private insurance  8699 non-null   int64
 29  Population with 65 years and over                                8699 non-null   int64
 30  Population                                                       8699 non-null   int64
 31  Total households                                                 8699 non-null   int64
 32  School Employees                                                 8699 non-null   int64
 33  Population with bachelorâ€™s degree or higher                      8699 non-null   int64
 34  Vacant housing units                                             8699 non-null   int64
 35  Median Gross Rent (dollars)                                      8699 non-null   float64
dtypes: float64(15), int64(16), object(5)
memory usage: 2.5+ MB

In [56]:
df.to_csv('data/df.csv', index=False)